<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
</configSections>
  <connectionStrings>
    <add name="IP3AnlagenInventarEntities" connectionString="metadata=res://*/Model.Diagram.AnlagenInventarModel.csdl|res://*/Model.Diagram.AnlagenInventarModel.ssdl|res://*/Model.Diagram.AnlagenInventarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=IP3AnlagenInventar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Reporting.Properties.Settings.IP3AnlagenInventar"
      connectionString="Data Source=localhost;Initial Catalog=IP3AnlagenInventar;User ID=sa;Password=sql100tx.;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>