@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\000037}}
body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  font-family: verdana; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000316}}
.Wrapper_Div {
  height: 100%;
  width: 100%;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000322}}
.Header_Div {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #205081; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000331}}
  .Header_Div .Header_Logo_Div {
    margin-left: 5px;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000337}}
    .Header_Div .Header_Logo_Div img {
      height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000342}}
  .Header_Div .Header_Menu_Div {
    float: left;
    margin-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000348}}
.Title_Div {
  width: 100%;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f5f5f5;
  border-bottom: 1px solid grey; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000359}}
  .Title_Div span {
    margin-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_layout\.scss}line{font-family:\0000364}}
.Body_Div {
  padding: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_buttons\.scss}line{font-family:\000037}}
.GridEventButton {
  width: 20px !important;
  height: 20px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_menu\.scss}line{font-family:\000038}}
.CustomMenu {
  background-color: transparent !important;
  border-style: none !important;
  background-image: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_menu\.scss}line{font-family:\0000313}}
  .CustomMenu ul {
    background-color: #205081 !important;
    border-style: none !important;
    background-image: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_menu\.scss}line{font-family:\0000318}}
    .CustomMenu ul .MenuItem {
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_menu\.scss}line{font-family:\0000324}}
      .CustomMenu ul .MenuItem a {
        color: white;
        text-decoration: none;
        font-size: 18px; }

/* Input Forms
---------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\000038}}
.content_input_form {
  width: auto;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\0000315}}
.input_form_row {
  width: auto;
  min-height: 10px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\0000327}}
.input_form_row .element_label {
  width: 170px;
  font-style: italic;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\0000336}}
.input_form_row input {
  float: left !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\0000341}}
.input_form_row .ruFileWrap {
  width: auto !important;
  clear: both !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\0000347}}
.input_form_row .ruFakeInput {
  width: 220px; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\0000352}}
.input_interaction_row {
  width: auto;
  margin-top: 30px;
  padding: 5px;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/faizan\/Dropbox\/_Development\/Projects\/vs\/anlageninventar\/Client\/Resources\/Styles\/components\/_forms\.scss}line{font-family:\0000363}}
.input_interaction_row input {
  padding-right: 20px;
  float: left; }

