body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  font-family: verdana; }

.Wrapper_Div {
  height: 100%;
  width: 100%;
  clear: both; }

.Title_Div {
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f5f5f5;
  border-bottom: 1px solid grey; }
  .Title_Div span {
    margin-left: 10px; }

.Body_Div {
  padding: 50px; }

.GridEventButton {
  width: 20px !important;
  height: 20px !important; }

.Header_Div {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  background-color: #205081; }
  .Header_Div .Header_Menu_Div {
    float: left;
    margin-left: 20px; }
    .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu {
      background-color: #205081; }
      .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal {
        background-color: transparent;
        height: 100%;
        border: none;
        background-image: none;
        font-size: 18px; }
        .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal li.MenuItem {
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer; }
          .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal li.MenuItem:hover {
            background-color: lightblue; }
          .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal li.MenuItem a {
            color: white;
            text-decoration: none; }
          .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal li.MenuItem .rmText {
            padding: 0; }
          .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal li.MenuItem div.rmSlide {
            background-color: transparent !important;
            background: none !important;
            width: auto !important;
            font-size: 16px; }
            .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal li.MenuItem div.rmSlide ul.rmVertical.rmGroup {
              background: none;
              background-color: #205081;
              border: none;
              widows: 100% !important; }
              .Header_Div .Header_Menu_Div .RadMenu.RadMenu_Default.CustomMenu ul.rmRootGroup.rmHorizontal li.MenuItem div.rmSlide ul.rmVertical.rmGroup > li.MenuItem {
                width: 100% !important; }

/* Input Forms
---------------------------------------------------------------------*/
.content_input_form {
  width: auto;
  clear: both; }

.input_form_row {
  width: auto;
  min-height: 10px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both; }

.input_form_row .element_label {
  width: 250px;
  font-style: italic;
  float: left; }

.input_form_row input {
  float: left !important; }

.input_form_row .ruFileWrap {
  width: auto !important;
  clear: both !important; }

.input_form_row .ruFakeInput {
  width: 220px; }

.input_interaction_row {
  width: auto;
  margin-top: 30px;
  padding: 5px;
  clear: both; }

.input_interaction_row input {
  padding-right: 20px;
  float: left; }
