html {
    
}

body {
    margin:0px;
    padding:0px;
}

.Wrapper_Div {
    height:100%;
    width:100%;

    clear:both;
}

    .Header_Div{
        width:100%;
        height:40px;

        padding-top:5px;
        padding-bottom:5px;

        background-color:#205081;
    }

        .Header_Logo_Div {

            margin-left:5px;

            float:left;
        }

            .Header_Logo_Div img {
                height:40px;
            }

        .Header_Menu_Div {
            float:left;

            margin-left:20px;
        }

    .Body_Div {
    }

    .Footer_Div {
    }