// Variables
// Mixins
// Rules

$layout-body-font: verdana;
$ayout-body-padding: 50px;

body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  font-family: $layout-body-font;
}

.Wrapper_Div {
  height: 100%;
  width: 100%;
  clear: both;
}

.Title_Div {
  height: 20px;

  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #f5f5f5;

  border-bottom: 1px solid grey;

  span {
    @include zen-margin('left', 1);
  }
}

.Body_Div {
  @include zen-spacing(padding, $ayout-body-padding);
}

.Footer_Div {
}