// Variables

$menu-min-height: 20px !default;
$menu-bg-color: #205081 !default;
$menu-link-font-size: 20px;

// Mixins

// Rules

.Header_Div {
  @include zen-padding-top(1);
  @include zen-padding-bottom(1);

  //width: 100%;
  overflow: auto;
  background-color: $menu-bg-color;

  .Header_Logo_Div {

    @include zen-margin('left');

    img {
    }
  }

  .Header_Menu_Div {
    float: left;
    margin-left: 20px;

    .CustomMenu {
      background-color: $menu-bg-color;

      ul.rmRootGroup.rmHorizontal {
        background-color: transparent;
        height: 100%;
        border: none;
        background-image: none;

        li.MenuItem {

          @include zen-margin('left');
          @include zen-margin('right');

          cursor: pointer;

          .rmText {
            padding: 0;
          }

          a {
            color: white;
            text-decoration: none;
            font-size: $menu-link-font-size;
          }
        }
      }
    }
  }
}
