// Variables

$menu-height: 20px !default;
$menu-bg-color: #205081 !default;
$menu-font-size: 18px;
$menu-font-vertical-size: 16px;

// Mixins

// Rules

.Header_Div {
  @include zen-padding-top(1);
  @include zen-padding-bottom(1);

  height: $menu-height;
  background-color: $menu-bg-color;

  .Header_Logo_Div {
    // TODO: Style logo

    img {
    }
  }

  .Header_Menu_Div {
    float: left;
    margin-left: 20px;

    .RadMenu.RadMenu_Default.CustomMenu {
      background-color: $menu-bg-color;

      ul.rmRootGroup.rmHorizontal {
        background-color: transparent;
        height: 100%;
        border: none;
        background-image: none;
        font-size: $menu-font-size;

        li.MenuItem {

          @include zen-padding('left');
          @include zen-padding('right');

          cursor: pointer;

          &:hover {
            background-color: lightblue;
          }

          a {
            color: white;
            text-decoration: none;;
          }

          .rmText {
            padding: 0;

            &.rmExpanded {
            }
          }

          div.rmSlide {
            background-color: transparent !important;
            background: none !important;
            width: auto !important;
            font-size: $menu-font-vertical-size;

            ul.rmVertical.rmGroup {
              background:none;
              background-color: $menu-bg-color;
              border: none;
              widows: 100% !important;

              > li.MenuItem {
                width: 100% !important;

                div {

                }
              }
            }
          }
        }
      }
    }
  }
}
